<div class='map'>
  <img
    ...attributes
    src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/{{@lng}},{{@lat}},{{@zoom}}/{{@width}}x{{@height}}@2x?access_token={{this.token}}'
    alt='Map image at coordinates {{@lat}},{{@lng}}'
    width={{@width}}
    height={{@height}}
  >
</div>